body{
    background-color: white;
}
#title{
    margin-top: 90px;
    color: rgb(31, 48, 43);
}
#log-title{
    color: rgb(31, 48, 43);
}
.login-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 90%;
    margin: auto;
}
.input{
    padding: 15px 25px;
    border: none;
    margin: 20px;
    box-shadow: 4px 4px 8px darkcyan;
    border-radius: 5px;
}

.submit-btn{
    padding: 15px 5px;
    width: 50%;
    border: none;
    margin: auto;
    color: rgb(155, 42, 42);
    background-color: rgb(26, 12, 39);
    font-size: 20px;
    border-radius: 10px;
    margin-left: 20px;
    

}
.submit-btnn{
    padding: 15px 1px;
    width: 30%;
    border: none;
    margin: auto;
    color: rgb(155, 42, 42);
    background-color: rgb(26, 12, 39);
    font-size: 20px;
    border-radius: 10px;
    margin-left: 20px;
    
}
.title{
    color: blueviolet;
}
.omuk{
    padding-left: 180px;
}
.flexing{
    display: flex;
    gap: 50px;
    margin-top: 10px;
}


.auth-links {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 50px; /
}

.auth-links a {
    text-decoration: none;
    color: #000; 
    font-size: 16px;
    padding: 8px 12px; 
    border: 1px solid #000; 
    border-radius: 4px; 
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: rgb(131, 66, 190);
    
}

.auth-links a:hover {
    background-color: #000; 
    color: #fff; 
}
